.container {
    padding-top: 50px;
    height: auto;
}

.about {
    grid-area: about;

    font-size: 24px;
    text-shadow: 0px 0px 8px #151515;
    user-select: text;
    text-decoration: none;
}

.imgdiv {
    position: relative;
    width: 325px;
    height: 300px
}

#propic {
    background: url(/images/facepic1.jpg);
}

.aboutgrid { /* not in use rn */
    height: 80%;
    width: 80%;

    display: grid; 
    grid-template-columns: 1fr 2.5fr 1fr 30%; 
    grid-template-rows: 1fr 10fr 5fr 20fr; 
    gap: 3em 3em; 
    grid-template-areas: 
      ". . . skills"
      ". img . skills"
      "about about about skills"
      "about about about links"; 
}

.img { /* not in use rn */
    grid-area: img;
}

.skills { /* not in use rn */
    grid-area: skills;
}

.links { /* not in use rn */
    grid-area: links;
}