/* MAIN PAGE */

.htmlplate { 
    width: 100px; /* MANUALLY SET THIS IN JS */
    height: 100px; /* MANUALLY SET THIS IN JS */
    background: none;
    padding: 0px;
    display: grid;
    place-items: center;
}
.html { /* all html 3d elements inheret this */
    color: #1a1a1a;
    font-size: 30px;
    padding: 0px;
    background: none;
}

.textface {
    border: .5em solid #000000;
}

.label {
    --text-color: white;
    color: var(--text-color);
    border: .08em solid var(--text-color);
    border-radius: 3px;
    padding: 2px 6px 2px 6px;

    /* link */
    text-decoration: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}