.title {
    opacity: .55;
    font-size: 5vw;
    color: white;

    position: absolute;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered {
    display: grid;
    place-items: center;
    text-align: center;
}